.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 1.5vw;
  margin: 1.5vw 5vw;
  background-color: rgb(235, 235, 235);
  border: 2px solid black;
  box-shadow: -6px 6px lightseagreen;
}
.welcome,
.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 1vh;
  padding: 0.1vh;
  margin: 0.1vh;
}

.welcome h1 {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
