.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0.5vw;
  border-bottom: 2px solid black;
  font-size: 1.15rem;
  min-width: 360px;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 2%;
  padding: 0 10px;
  border-left: 2px solid black;
}

.right a {
  border-left: 2px solid black;
  padding-left: 10px;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  padding: 0 10px;
  border-right: 2px solid black;
}

#logo {
  background-image: url("ico/favicon-32x32.png");
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
}
